body {
    background-color: #f8f8f8;
    padding-bottom: 20px;
}

hr {
    border-top: 1px solid #ccc;
}

.row {
    font-size: medium;
    /*background-color: #f8f8f8;*/
}

.brand-icon {
    position: absolute;
    top: 3px;
    height: 45px;
}

.brand-name {
    display: inline;
    color: #f8f8f8;
    font-weight: normal;
    position: relative;
    top: 13px;
    left: 70px;
}

@media (max-width: 768px) {
    .brand-name {
        font-size: 16pt;
        top: 14px;
    }
}

@media (max-width: 380px) {
    .brand-name {
        font-size: 14pt;
        left: 40px;
    }
}

.jumbotron {
    background-color: inherit;
    margin-bottom: 20px;
    padding-bottom: 0px;
}

.jumbotron h1, .jumbotron p {
    text-align: center;
    vertical-align: middle;
}

.jumbotron a {
    margin-top: 15px;
    margin-bottom: 20px;
}

.copyright {
    text-align: center;
}

.centered {
    text-align: center;
}

.full-width {
    width: 100%;
}

.title {
    color: #bb0000;
    margin-bottom: 20px;
}

#monthlyStats {
    display: block;
    margin: 0 auto;
}

.space-above-sm {
    margin-top: 20px;
}

.space-above-md {
    margin-top: 50px;
}

.space-above-lg {
    margin-top: 80px;
}

.space-below-sm {
    margin-bottom: 20px;
}

.space-below-md {
    margin-bottom: 50px;
}

.space-below-lg {
    margin-bottom: 80px;
}

.congrats {
    font-size: large;
    border: 2px solid #cdcddd;
    padding: 30px;
}

.announce {
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
}

.announce hr {
    border-top: 1px solid #663333;
}

.announce h2 {
    text-align: center;
}

.announce h3 {
    color: #663333;
}

.announce p {
    font-size: medium;
    line-height: 1.2em;
    margin: 20px 10px;
}

.announce-date {
    margin-top: 0px;
    margin-bottom: 0px;
}

.announce-recurring {
    float: right;
    color: #dc9512;
    font-size: small;
    font-style: italic;
    margin-top: 5px;
    margin-right: 15px;
}

.next h3 {
    margin-top: 0px;
    text-align: center;
}

.next .link {
    text-align: center;
    margin-bottom: 0px;
}

.stand-alone-link {
    padding: 0px;
    text-align: center;
}

.carousel {
    margin-top: 20px;
}

.carousel .item {
    width: 100%;
    /*max-height: 500px;*/
    /*text-align: center;*/
}

.carousel h3 {
    color: #fff;
}

.carousel-caption {
    left: 10%;
    right: 10%;
}

.sidebar {
    background-color: #f5ebeb;
    border: 1px solid #bbb;
}

.sidebar h3 {
    text-align: center;
}

.award {
    color: #bb0000;
    text-align: center;
}

.award-large {
    color: #bb0000;
    font-size: larger;
    font-weight: bold;
}

.remember-this {
    font-style: italic;
    font-weight: bold;
}

.notice {
    color: red;
    font-size: larger;
    font-style: italic;
    font-weight: bold;
}

.brand {
    height: 60px;
    width: 95px;
    margin-bottom: 10px;
    margin-right: 20px;
    vertical-align: middle;
}

a.menu-selected {
    /*font-weight: bold;*/
    color: red;
}

.save-for-later {
    display: none;
}

.schedule, .stats, .about, .membership {
    margin-top: 50px;
}

.highlight {
    font-weight: bold;
    font-size: large;
}

.participant {
    font-weight: bold;
    font-size: large;
    margin-right: 10px;
}

.participation li {
    list-style-type: none;
    margin-top: 10px;
}

.participation li li {
    list-style-type: circle;
}

.memberships {
    padding: 35px;
}

.memberships h2, .memberships h3 {
    text-align: center;
}

.memberships ul {
    margin-top: 40px;
}

.memberships ul li {
    padding-top: 10px;
}

.memberships .contributing, .memberships .sustaining, .memberships .lifetime {
    border: 1px solid #cfcfcf;
    min-height: 400px;
}

.memberships .contributing {
    background-color: azure;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.memberships .sustaining {
    background-color: #cffbe2;
}

.memberships .lifetime {
    background-color: #fffac9;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.stats h2, .stats h3 {
    text-align: center;
}

.footer {
    margin-top: 100px;
}

.footer hr {
    border-top: 1px solid #ccc;
}
